<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/partials/header_style.css">
    <link rel="stylesheet" href="/static/css/main_style.css">
    <link rel="stylesheet" href="/static/css/partials/{{CSS_Name}}_body_style.css">
    <link rel="stylesheet" href="/static/css/partials/footer_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,500;1,500&family=Stack+Sans+Text:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
        {%include Header_Snippet%}
        {%include Body_Snippet%}
        {%include Footer_Snippet%}
</body>
</html> 