<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/login_style.css">
</head>
<body>
    <h1>Login</h1>
    {%include Header_Snippet%}

    <form action="/login_request" method="post">
        <label for="log">Login</label>
        <input type="text" name="email">
        <br>

        <label for="passwd">Password</label>
        <input type="password" name="passwd">

        <button type="submit">Log In</button>
    </form>

    {%include Footer_Snippet%}
</body>
</html>