<main>
    <br>
    <section class="left">
        <form action="/loged/profile/add_project_request" method="post">

            <label for="project_title">Title</label>
            <input type="text" name="project_title" id="title">
            <br>

            <label for="project_content">Content</label>
            <input type="text" name="project_content" id="content">
            <br>

            <label for="is_private">Private?</label>
            <input type="checkbox" name="is_private" id="private">
            <br>

            <button type="submit">Add Project</button>
        </form>
    </section>
    <section class="right">
        In Progress.. 
    </section>
</main>