<main>
    <br>
    <section class="blank_space"></section>
    <section class="center">
        <h1>Projects</h1>
        {%for block in DB_Projects%}
            <section class="block" id={{block[1]}}>
                <h2>{{block[0]}}</h2>
                <h4>{{block[1]}}</h4>
            </section>
        {%endfor%}
    </section>
    <section class="right">
        <aside>
            <button onclick='window.location.href=`{{ url_for("add_project")}}`'>
            Add Project
            </button>
        </aside>
    </section>
</main>