body{
    background-color: black;
    color: white;
    text-decoration: none;
    margin: 0;
    align-content: center;
}

a {
    text-decoration: none;
    color: white;   
}

header {
    min-width: 100%;
    height: 50px;
    background-color: green;
}

#left_header, #right_header {
    min-width: 50%;
    float: left;
}

#left_header > img {
    float: left;
}

main {
    width: 100%;        
}

.left, .right {
    float: left;
}

.left {
    width: 80%;
}

.right {
    width: 18%;
}

footer{
    clear: both;
    width: 100%;
    align-content: center;
    justify-content: center;
}