body{
    background-color: black;
    color: white;
    text-decoration: none;
    margin: 0;
    align-content: center;
}
a {
    text-decoration: none;
    color: white;   
}

header {
    min-width: 100%;
    height: 50px;
    background-color: green;
}

#left_header, #right_header{
    min-width: 50%;
    float: left;
}

#left_header > img{
    float: left;
}

main{
    width: 100%;
}

main > .top_4_repos{
    width: 80%;
    margin: auto;
    clear: both;
    background-color: red;
}

main > .top_4_repos > p{
    width: 49%;
    float: left;
    background-color: rgb(17, 76, 80);
    border: solid yellow 1px;
}

footer{
    clear: both;
    width: 100%;
    align-content: center;
    justify-content: center;
}