header {
    margin: 0;
    min-width: 100%;
    height: 60px;
    background-color: #172426;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    overflow: hidden;
}

#left_header, #navbar {
    min-width: 50%;
    float: left;
}

#left_header > * {
    margin-left: 10px;
    float: left;
}

#navbar > * {
    margin: 5px;
    display: inline-block;
}

#navbar > p {
    border: solid 1px #C5C8D9;
    padding: 5px;
    border-radius: 5px;
}