main {
    width: 100%;        
}

.left, .right {
    float: left;
}

.left {
    width: 80%;
    margin: 10px;
}

.right {
    width: 20%;
}

.block {
    width: 25%;
    float: left;
    border: solid white 1px;
}
