main {
    width: 100%;   
}

.center {
    float: left;
    max-width: 80%;
    min-width: 80%;
    margin-left: 10%;
    /* margin-right: 10%; */
}

.right {
    min-width: 10%;
    float: right;
}
.block {
    min-width: 20%;
    max-width: 20%;
    float: left;
    border: solid white 1px;
}
